/* font-family: 'Inter', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Manrope', sans-serif; */

/* Remove browser default margin padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner Section Design */
.banner-section {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    /* height: auto; */
    /* height: max-content; */
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}
.banner-section h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 65px;
    letter-spacing: 2px;
    line-height: 78.66px;
    color: #ffffff;
    margin-bottom: 20px;
}
.banner-section p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 40px;
}

.banner-section a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    padding: 16px 12px;
    background-color: #ff5959;
    border-radius: 5px;
    margin-top: 300px;
    text-decoration: none;
}

/* Donate Section */
.donate-section,
.donate-plan {
    margin-top: 150px;
    text-align: center;
}

.donate-section h2,
.donate-plan h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 54.46px;
    color: #121212;
    margin-bottom: 20px;
}
.donate-section p,
.donate-plan > p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin-bottom: 50px;
}

.donate-section button {
    width: 135px;
    height: 123px;
    margin-right: 22px;
    background-color: #fafafa;
    border-radius: 5px;
    border: none;
    color: #707070;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36.31px;
    margin-bottom: 75px;
}
#special-button {
    background-color: #ffeeee;
    color: #ff5959;
    border: 2px solid #ff5959;
}
input {
    border: none;
    text-align: center;
    border-bottom: 1px solid #dadada;
    width: 765px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #b3b3b3;
    margin-bottom: 30px;
}
input:focus {
    outline: none;
}

input:active {
    border: none;
}
.donate-section a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    padding: 16px 12px;
    background-color: #ff5959;
    border-radius: 5px;
    text-decoration: none;
}

/* Our Donate Plan Section */
.plan-box {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: justify;
}
.plan-box div {
    width: 360px;
    height: 352px;
    text-align: left;
    padding-left: 23px;
    padding-top: 63.5px;
    margin-right: 24px;
    border-radius: 5px;
}
.plan-box div h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}
.plan-box div p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}
#first-plan {
    background: rgba(79, 157, 166, 0.1);
}
#second-plan {
    background: rgba(255, 89, 89, 0.1);
}
#third-plan {
    background: #fff4d6;
}

/* Footer Section */
footer {
    height: 177px;
    text-align: center;
    background-color: #0b0d17;
}
footer h3 {
    font-family: "Lobster", cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #ff5959;
    padding-top: 43px;
    margin-bottom: 24px;
}
footer p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #d9dbe1;
}
